.weather-app {
  border: 1px solid #87757a;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 10px;
}

h1 {
  color: rgb(32, 33, 36);
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400px;
  line-height: 26px;
  width: 326px;
  margin: 0;
}

li {
  color: rgb(112, 117, 122);
  display: block;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400px;
  line-height: 16px;
  width: 85.4px;
}

ul {
  padding: 0;
  margin: 0 0 10px;
}

.weather-icon {
  margin-right: 15px;
}

.temperature {
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
}

.temperature-F {
  font-size: 20px;
  color: #87757a;
}

.units {
  position: relative;
  top: -10px;
  font-size: 15px;
  font-weight: normal;
}

.search-form {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.row {
  margin: 25px 0 0 9px;
}
